<h2>Add a Sighting:</h2>
<form method="post" action="/sightings">
  <label id="date">Date:</label>
  
  <input id="date" type="date" name="date"></input>
  
  <br></br>
  
  <label>Time:</label>
  
  <br></br>
  
  <% ["Morning", "Afternoon", "Evening"].each do |time| %>
    <input type="radio" name="time" value="<%= time %>"> <%= time %></input>
    <br></br>
  <% end %>
  
  <label id="location">Location:</label>
  
  <input id="location" type="text" name="location"></input>
  
  <br></br>
       
  <label>Add a new bird: </label>
  
  <br></br>
  
  <label id="name">Name:</label>
  <input id="name" type="text" name="bird[name]"></input>
  <br></br>
  
  <label>Or select from existing birds:</label>
  
  <br></br>
  
  <% Bird.all.each do |bird| %>
    <input type="radio" name="bird_id" value="<%= bird.id %>"> <%= bird.name %></input><br></br>
  <% end %>

  <label id="notes">Notes (optional):</label>
  
  <input id="notes" type="text" name="notes" size="100"></input>
  
  <br></br>
  
  <input type="submit" value="Add Sighting"></input>

</form>
  
  
  
  
  
  
