<h2>Users:</h2>
  <% @users.each do |user| %>
  <p>
    <h3><a href="/users/<%= user.slug %>"><%= user.username %></a></h3>
    <ul>
      <li><%= "#{user.sightings.size} sighting#{user.sightings.size == 1 ? '' : 's'} logged." %></li>
    </ul>
  </p>
  <% end %>
<p><a href="/sightings">All Sightings</a> | <a href="/birds">All Birds</a> | <a href="/sightings/new">Add Sighting</a></p>