<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<h2>Sign Up:</h2>
<form method="post" action="/users">
  <label id="username">User Name:</label>
    <input id="username" type="text" name="username"></input>
  <br></br>
  <label id="email">E-mail:</label>
    <input id="email" type="email" name="email"></input>
  <br></br>
  <label id="password">Password:</label>
    <input id="password" type="password" name="password"></input>
  <br></br>
  <input type="submit" value="Sign Up"></input>
</form>