<h2>Birds:</h2>
  <% @birds.each do |bird| %>
  <p>
    <h3><a href="/birds/<%= bird.slug %>"><%= bird.name %></a></h3>
    <ul>
      <li>Logged <%= bird.sightings.size %> times.</li>
    </ul>
  </p>
  <% end %>
  <p><a href="/sightings/new">Add Sighting</a></p>
  <p><a href="/sightings">View All Sightings</a></p>
