<h2>Sign Up:</h2>
<form method="post" action="/login">
  <label id="username">User Name:</label>
    <input id="username" type="text" name="username"></input>
  <br></br>
  <label id="password">Password:</label>
    <input id="password" type="password" name="password"></input>
  <br></br>
  <input type="submit" value="Log In"></input>
</form>